<div class="container">
  <div> 
     
    <button class="align" ><a (click)="ajoutWorkflow2()" >Continuer</a></button>
  </div>
  <form action="/submit" method="post">
    <input type="text" id="nom" name="nom" [(ngModel)]="workflow.workflowName" required placeholder="Se connecter au 'Nom du workflow'">
    <label for="description">Informations</label>
    <input type="text" id="description" name="description" [(ngModel)]="workflow.description" required placeholder="Description">
  
    <label for="responsable">Responsable :</label><br>
    <select id="responsable" name="responsable" [(ngModel)]="workflow.responsible">
      <option value="Administrateur">Administrateur</option>
      <option value="Responsable workflow">Responsable workflow</option>
      <option value="Utilisateur">Utilisateur</option>
    </select>
    
  </form>
  </div> 
  
  
  
  
    
    
    
    